.wave {
  position: fixed;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-image: url('../../images/wave.png');
  background-repeat: no-repeat;
  background-size: contain;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 7rem;
}

.form {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  &__avatar {
    width: 100px;
  }

  &__header h2 {
    text-transform: uppercase;
    font-size: 2.9rem;
    margin-top: 15px;
    margin-bottom: 30px;
    color: #333;
  }
}

.img {
  display: flex;
  flex: 0 0 45%;
  justify-content: flex-end;
  align-items: center;

  &__phone {
    width: 500px;
  }

  &__form {
    width: 360px;
  }
}

@media screen and (max-width: 1050px) {
  .container {
    grid-gap: 5rem;
    background-image: none;
  }
}

@media screen and (max-width: 1000px) {
  .form__header h2 {
    font-size: 2.4rem;
    margin: 8px 0;
  }

  .img__phone {
    width: 400px;
  }
}

@media screen and (max-width: 900px) {
  .container {
    grid-template-columns: 1fr;
  }

  .img {
    display: none;
  }

  .wave {
    display: none;
  }

  .form__form {
    justify-content: center;
  }
}
